@import "../../common/_variables.scss";
@import "../../common/_mixins.scss";
@import "../../components/navbar/_desktop.scss";
@import "../../vendor/owl.carousel.scss";

.publications {

	&__container {
		height: calc(100vh - 72px);
	}

	.publicationsCarousel {
		padding: 4.5rem 0 2.5rem 6.75rem;

		&__arrow {
			&_next {
				right: 6.75rem;
			}
		}
	}

	.publicationsCarouselListItem {
		margin-right: 1.5rem;

		&__title {
			font-size: 1.5rem;
		}
	}

	.publicationsBlockLinkBox {
		&__btn {
			width: 188px;
		}
	}
}

@media (min-width: 1200px) and (max-height: 767px) {
	.publications {
		.publicationsCarousel {
			padding: 2.5rem 0 2.5rem 6.75rem;
		}
	}
}

@media screen and (orientation: portrait) {

	main {
		filter: blur(40px);
	}

	.blurModal {
		@include blurModal;

		&__svg {
			@include rotateScreenIcon;
		}
	}
}