.navbar {
	&__fixed {
		position: fixed;
		top: 0;
		width: 100%;
		background-color: $secondary_white;
		z-index: 1;
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: nowrap;
		position: relative;
		padding: 1rem;
		box-sizing: border-box;
	}

	.logo {
		display: flex;

		&__svg {
			display: inline-block;
			width: 174px;
			height: 32px;

			&_dark {
				fill: $secondary;
			}
		}
	}

	&__content {
		display: flex;
		justify-content: flex-end;
	}

	#navbarBurger {
		display: flex;
		justify-content: flex-end;
		position: relative;
		height: 32px;
		width: 32px;
		cursor: pointer;

		.navbarBurger__line {
			display: block;
			position: absolute;
			right: 0;
			height: 2px;
			width: 25px;
			border-radius: 3px;
			transform: rotate(0deg);
			transition: .25s ease-in-out;

			&_long {
				width: 32px;
			}

			&_dark {
				background-color: $secondary;
			}

			&:nth-child(1) {
				top: 3px;
				transform-origin: right center;
			}

			&:nth-child(2) {
				top: 14px;
				transform-origin: right center;
			}

			&:nth-child(3) {
				top: 25px;
				transform-origin: right center;
			}
		}

		&.open {
			z-index: 3;

			.navbarBurger__line:nth-child(1) {
				top: 25px;
				right: 6px;
				width: 28px;
				background-color: $secondary;
				transform: rotate(45deg);
			}

			.navbarBurger__line:nth-child(2) {
				width: 0;
				opacity: 0;
			}

			.navbarBurger__line:nth-child(3) {
				top: 5px;
				right: 6px;
				width: 28px;
				background-color: $secondary;
				transform: rotate(-45deg);
			}
		}
	}

	.navbarMenu {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding: 1rem 1rem 2rem;
		box-sizing: border-box;
		background-color: $secondary_white;
		box-shadow: 0 4px 8px 0 rgba(76, 73, 68, 0.15);
		z-index: 2;

		&_open {
			display: block;
		}

		&__btn {
			@include btn_brief;
			margin-bottom: 2rem;
		}

		&__line {
			display: block;
			margin-left: -1rem;
			margin-bottom: 1rem;
			width: 288px;
			height: 1px;
			background-color: $secondary;
			opacity: .5;
		}
	}

	.logoDark {
		display: flex;
		margin-bottom: 3rem;

		&__svg {
			display: inline-block;
			width: 174px;
			height: 32px;
		}
	}

	.navbarNav {
		display: flex;
		flex-direction: column;
		font-family: $FiraSansRegular;

		&__item {
			margin-bottom: 2rem;
		}

		&__link {
			font-size: 1.25rem;
			color: $secondary;

			&:hover {
				color: $primary;

				.navbarNav__arrow {
					path {
						fill: $primary;
					}
				}
			}
		}

		&__arrow {
			display: none;
		}
	}

    .active {
		a {
			font-size: 1.25rem;
			color: $primary;
		}

		.navbarNav__arrow {
			path {
				fill: $primary;
			}
		}
	}

	.navbarNavSubMenu {
		margin-top: 1rem;
		padding-left: 1rem;

		&__item {
			margin-bottom: 1rem;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&__link {
			font-size: 1rem;
			color: $secondary;
			transition: .3s;

			&:hover {
				color: $primary;
			}
		}
	}

	.navbarLanguage {
		display: flex;

		&__item {
			margin-right: 2rem;

			&:last-child {
				margin-right: 0;
			}
		}

		&__link {
			position: relative;
			font-family: $FiraMonoRegular;
			font-size: 1.25rem;
			color: $secondary;
			opacity: .2;

			&_active {
				opacity: 1;

				&::after {
					position: absolute;
					bottom: -.25rem;
					left: 0;
					width: 100%;
					height: 1px;
					background-color: $secondary;
					content: "";
					visibility: visible;
				}
			}
		}

		&__arrow {
			display: none;
		}
	}

	.navbarLanguageDesktop {
		display: none;
	}

}

.interior {
	margin-top: 64px;

	&__container {
		padding: 0 1rem 2rem;
	}

	.grid-sizer {
		width: 100%;
	}

	.gutter-sizer {
		width: 0;
	}

	&__item {
		width: 100%;
		position: relative;
		margin-bottom: 1.5rem;
		cursor: pointer;
	}

	&__img {
		max-width: 100%;
		margin-bottom: 0.5rem;
	}

	&__title {
		font-family: $FiraSansRegular;
		font-size: 1rem;
		color: $secondary;
	}

	&__count {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 8px;
		right: 8px;
		padding: 0.25rem 0.375rem;
		border-radius: 3px;
		background-color: rgba(255, 255, 255, 0.5);
		font-family: $FiraSansRegular;
		font-size: 0.875rem;
		color: $secondary;
	}

	&__loader {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 47px;
	}

	&__btn {
		@include btn;
		font-size: 1.25rem;
		color: $primary;
		cursor: pointer;
		background-color: transparent;
		border: none;
		outline: none;
	}

	&__bubbles {
		display: none;
		align-items: center;
		padding: 12px 16px;
	}

	&__bubble {
		width: 15px;
		height: 15px;
		margin-right: 1.25rem;
		background-color: $primary;
		border-radius: 50%;
		animation: loader 2s infinite;

		&:first-child {
			animation-delay: .3s;
		}

		&:nth-child(2) {
			animation-delay: .6s
		}

		&:last-child {
			animation-delay: .9s;
			margin-right: 0;
		}
	}


	@keyframes loader {
		0% {
			opacity: 1
		}
		50% {
			opacity: 0.5
		}
		100% {
			opacity: 1
		}
	}
}

@media (min-width: 768px) {
	.navbar {
		.logo {
			&__svg {
				width: 260px;
				height: 48px;
			}
		}

		.logoDark {
			&__svg {
				width: 260px;
				height: 48px;
			}
		}
	}

	.interior {
		margin-top: 80px;
	}
}


