@import "../../common/_variables.scss";
@import "../../common/_mixins.scss";
@import "../../components/navbar/_tablet.scss";

.navbar {
	position: inherit;
	z-index: inherit;
}


.interior {
	margin-top: 0;

	&__container {
		padding: 4.5rem 2rem 0 2rem;
	}

	.grid-sizer {
		width: 30%;
	}

	.gutter-sizer {
		width: 5%;
	}

	&__item {
		width: 30%;
		margin-bottom: 2rem;
	}

	&__img {
		margin-bottom: 1rem;
	}
}



