@import "../../common/_variables.scss";
@import "../../common/_mixins.scss";
@import "../../components/navbar/_desktop.scss";

.about {
	&__container {
		position: relative;
		overflow: hidden;
		padding: 4.5rem 6.75rem 8.3125rem;
	}

	.infoSection {
		&__description {
			width: 70%;
		}
	}
}

@media screen and (min-width: 1440px) {
	.about {
		.portraitSection {
			&__portrait {
				width: 496px;
				height: 496px;

				&::after {
					bottom: 110px;
				}
			}

			.socialSection {
				left: 15%;
			}
		}

		&__circle {
			display: block;
			position: absolute;
			top: 36px;
			right: -272px;
		}
	}
}