@import "../../common/_reset.scss";
@import "../../common/_variables.scss";
@import "../../common/_mixins.scss";
@import "../../components/navbar/_mobile.scss";

.navbar {
	.logo {
		&__svg {
			fill: $secondary;
		}
	}

	&__rectangle {
		display: none;
	}

	#navbarBurger {
		.navbarBurger__line {
			background-color: $secondary;
		}
	}
}

.about {
	&__container {
		padding: 1rem 1rem 2rem;
		display: flex;
		flex-direction: column;
	}

	.portraitSection {
		display: flex;
		width: 100%;
		margin-bottom: 1.5rem;

		&__portraitContainer {
			position: relative;
		}

		&__portrait {
			position: relative;
			width: 212px;
			height: 212px;
			background-image: url("../../../png/portrait_desktop.png");
			background-size: cover;

			&::after {
				position: absolute;
				left: 64%;
				bottom: 16px;
				width: 152px;
				height: 2px;
				background-color: $primary;
				content: "";
			}
		}
	}

	.socialNetworks {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: absolute;
		left: 90%;
		bottom: 8%;

		&__item {
			display: inline-flex;

			&:hover .socialNetworks__svg,
			&:focus .socialNetworks__svg,
			&:active .socialNetworks__svg {
				fill: $primary_dark;
			}
		}

		&__link {
			display: inline-flex;
		}

		&__svg {
			width: 32px;
			height: 32px;
			transition: .3s;
		}

		&__name {
			display: none;
		}
	}

	.infoSection {
		width: 100%;

		&__name {
			font-family: $FiraSansMedium;
			font-size: 1.5rem;
			color: $secondary;
		}

		&__title {
			font-family: $FiraSansMedium;
			font-size: 1rem;
			color: $secondary;
			margin-bottom: 0.5rem;
		}
	}

	.infoSectionContacts {
		display: inline-flex;
		margin: 1rem 0;

		&__link {
			display: inline-flex;
			align-items: center;
			margin-right: 1.5rem;

			&:last-child {
				margin-right: 0;
			}
		}

		&__icon {
			width: 16px;
			height: 16px;
			margin-right: 0.25rem;
		}

		&__text {
			color: $secondary;
			font-family: $FiraSansRegular;
			font-size: 0.875rem;
		}
	}

	.infoSectionDescription {
		display: flex;
		position: relative;
		margin-bottom: 2.5rem;
		width: 100%;
		height: 40px;
		overflow: hidden;

		&.openDescription {
			height: auto;
		}

		&__text {
			width: 90%;
			font-family: $FiraSansRegular;
			font-size: 0.875rem;
			line-height: 1.4rem;
			color: $secondary;
		}

		&__arrow {
			position: absolute;
			right: 0;
			bottom: 0;
			width: 10%;
			cursor: pointer;

			&.arrowUp {
				transform: rotate(-180deg);
			}
		}
	}

	.infoSectionClients {
		margin-bottom: 2.5rem;

		&__text {
			font-family: $FiraSansRegular;
			font-size: 0.875rem;
			line-height: 1.4rem;
			color: $secondary;
		}
	}

	.infoSectionCertificatesLogo {
		display: flex;
		align-items: center;

		&__img {
			margin-right: 1.625rem;

			&:last-child {
				margin-right: 0;
			}

			&_QEP {
				width: 80px;
				height: 76px;
			}

			&_UAPF {
				width: 182px;
				height: 74px;
			}
		}
	}

	&__circle {
		display: none;
	}
}

@media screen and (min-width: 480px) {
	.about {
		.portraitSection {
			justify-content: center;
		}
	}
}

@media screen and (min-width: 560px) {
	.about {
		.infoSectionDescription {
			position: inherit;
			height: auto;
			overflow: inherit;

			&__arrow {
				display: none;
			}

			&__text {
				width: 100%;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.about {
		&__container {
			flex-direction: row;
			padding: 2.5rem 1rem;
		}

		.portraitSection {
			justify-content: center;
			margin-right: 4%;
			margin-bottom: 0;
			width: 48%;
		}

		.socialNetworks {
			bottom: 8%;
		}

		.infoSection {
			width: 48%;
		}
	}
}
