@import "../../common/_variables.scss";
@import "../../common/_mixins.scss";
@import "../../components/navbar/_desktop.scss";
@import "../../vendor/owl.carousel.scss";

.portfolio {
	&__container {
		height: calc(100vh - 72px);
	}

	.portfolioBlock {
		padding: 4.5rem 0 0 6.75rem;
	}

	.portfolioCarousel {
		&__arrow {
			&_next {
				right: 108px;
			}
		}
	}

	.portfolioCarouselListItem {
		padding: 0 2rem 0 0;

		&__text {
			font-size: 1rem;
		}
	}

	//.portfolioTitleBlock{
	//	&__title {
	//		font-size: 3rem;
	//	}
	//}

	.portfolioLinkBtn {
		width: 27%;
		margin-left: -6.75rem;
	}

	.portfolioBlockCatalogue {
		.portfolioCarouselListItem {
			padding: 0 2rem 0 0;
		}
	}

	.modal {
		.modalCarousel {
			padding: 0 6.75rem;
		}

		.modalCarouselList {
			width: 586px;
			padding: 0 18rem;
		}
	}
}

@media screen and (min-width: 1440px) and (min-height: 1024px) {
	.portfolio {
		.portfolioBlock {
			padding: 5.5rem 0 0 6.75rem;
		}

		.portfolioCarouselListItem {
			&:after {
				height: 15%;
			}
		}
	}
}