@import "../../common/_variables.scss";
@import "../../common/_mixins.scss";
@import "../../components/navbar/_desktop.scss";
@import "../../vendor/owl.carousel.scss";

.portfolio {
	&__container {
		height: calc(100vh - 72px);
	}

	.portfolioBlock {
		padding: 2.5rem 0 0 6.75rem;
	}

	.carousel {
		&__arrow {
			&_next {
				right: 108px;
			}
		}
	}

	.carouselItem {
		padding: 0 2rem 0 0;

		&__text {
			font-size: 1rem;
		}
	}

	.portfolioLinkBtn {
		width: 30%;
		margin-left: -6.75rem;
	}

	.modal {
		.modalCarousel {
			padding: 0 6.75rem;
		}

		.modalCarouselList {
			padding: 0 18rem;
		}
	}
}


@media (min-width: 960px) and (max-height: 767px) {
	.portfolio {
		.carouselItem {
			&__imgBox {
				width: auto;
				box-sizing: border-box;
			}

			&__img {
				width: auto;
				max-width: none;
				height: 50vh;
			}

			&__text {
				font-size: 0.875rem;
			}
		}
	}
}

@media screen and (min-width: 1440px) and (min-height: 1024px) {
	.portfolio {
		.carouselItem {
			&__title {
				font-size: 2rem;
			}

			&__text {
				font-size: 1.5rem;
			}
		}

		.portfolioTitleBlock {
			&__title {
				font-size: 3rem;
				line-height: 4rem;
			}
		}
	}
}

@media screen and (orientation: portrait) {
	main {
		filter: blur(40px);
	}

	.blurModal {
		@include blurModal;

		&__svg {
			@include rotateScreenIcon;
		}
	}
}