@import "../../common/_variables.scss";
@import "../../common/_mixins.scss";

.briefSent {
	&__crossBlock {
		padding: 2.5rem 2rem 2rem;
	}

	&__content {
		background-image: url("../../../svg/camera_desktop.svg");
		background-size: initial;
		padding: 5rem 0;
	}

	&__envelope {
		width: 80px;
		height: 72px;
	}

	&__title {
		font-size: 2rem;
		margin-bottom: 1rem;
	}

	&__text {
		margin-bottom: 2rem;
		width: 313px;
	}
}


