@import "../../common/_variables.scss";
@import "../../common/_mixins.scss";
@import "../../components/navbar/_desktop.scss";

.homePageContent {

	&__container {
		height: calc(100vh - 72px);
		padding: 4.5rem 6.75rem 0;
	}

	.personalInfo {
		padding-bottom: 48px;

		&__text {
			font-size: 1.5rem;
		}

		&__line {
			height: 31%;
		}
	}

	.personalInfoImg {
		width: 128px;
		height: 128px;

		&__img {
			width: 96px;
			height: 96px;
		}
	}

	.homePageSlider {
	}

	.contentBlock {
		margin-right: -6.75rem;

		&__title {
			margin-bottom: 9.5rem;

			&_bold {
				font-size: 3.25rem;
				letter-spacing: 0.5625rem;
			}

			&_light {
				font-size: 2.75rem;
				letter-spacing: 0.875rem;
			}
		}
	}

	//.contentBlockPicture {
	//	&__img {
	//		width: 262px;
	//		height: 400px;
	//	}
	//}
}
