@import "../../common/_variables.scss";
@import "../../common/_mixins.scss";
@import "../../components/navbar/_desktop.scss";
@import "../../vendor/owl.carousel.scss";
@import "../../vendor/animate.scss";

.homePageContent {

	&__container {
		height: calc(100vh - 72px);
		padding: 2.5rem 6.75rem 0;
	}

	.personalInfo {
		padding-bottom: 48px;

		&__text {
			font-size: 1.5rem;
		}
	}

	.personalInfoImg {
		width: 128px;
		height: 128px;

		&__img {
			width: 96px;
			height: 96px;
		}
	}

	.contentBlock {
		width: 45%;
		margin-right: -6.75rem;

		&__title {

			&_bold {
				letter-spacing: 0.5rem;
			}

			&_light {
				letter-spacing: 0.875rem;
			}
		}
	}
}

@media (min-width: 1200px) and (max-height: 767px) {
	.contentBlock {
		width: 40%;
	}
}

@media screen and (min-width: 1200px) and (max-height: 650px) {
	html, body {
		height: auto;
	}

	.homePageContent {
		&__container {
			height: auto;
		}
	}
}


@media (min-width: 1200px) and (min-height: 1024px) {
	.homePageContent {

		.homePageSlider {
			width: 50vh;
		}

		.contentBlock {
			&__title {
				line-height: 3.5rem;

				&_bold {
					font-size: 3.25rem;
				}

				&_light {
					font-size: 2.75rem;
				}
			}
		}
	}
}

@media (min-width: 1440px) {
	.homePageContent {
		.contentBlock {
			&__title {
				line-height: 3.5rem;

				&_bold {
					font-size: 3.25rem;
				}

				&_light {
					font-size: 2.75rem;
				}
			}
		}
	}
}

@media screen and (min-height: 1250px) {
	.homePageContent {
		.homePageSlider {
			width: 45vh;
		}
	}
}

@media screen and (min-height: 1400px) {
	.homePageContent {
		.homePageSlider {
			width: 40vh;
		}
	}
}

@media screen and (orientation: portrait) {
	.homePageContent {
		.contentBlock {
			&__title {
				display: none;
			}
		}
	}

	main {
		filter: blur(40px);
	}

	.blurModal {
		@include blurModal;

		&__svg {
			@include rotateScreenIcon;
		}
	}
}