@import "../../common/_reset.scss";
@import "../../common/_variables.scss";
@import "../../common/_mixins.scss";
@import "../../components/navbar/_mobile.scss";
@import "../../vendor/slick.scss";
@import "../../vendor/slick-theme.scss";


.homePageContent {
	&__container {
		display: flex;
		flex-direction: column;
		position: relative;
	}

	.personalInfo {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		position: absolute;
		bottom: 35px;
		left: 10%;

		&__line {
			margin-bottom: 5rem;
			width: 2px;
			height: 57px;
			background-color: rgba(255, 255, 255, 0.5);
		}

		&__text {
			display: flex;
			align-items: center;
			width: 67px;
			height: 45px;
			font-family: $FiraSansRegular;
			font-size: 1rem;
			line-height: 1.25rem;
			color: $secondary_white;
			transform: rotate(-90deg);
			transform-origin: 15% top 0;
		}
	}

	.personalInfoSocial {
		display: flex;
		flex-direction: column;

		&__link {
			margin-bottom: 1rem;
		}

		circle, path {
			transition: .3s;
		}

		&__img {
			width: 32px;
			height: 32px;

			&:hover circle {
				stroke-opacity: 1;
			}

			&:hover path {
				fill-opacity: 1;
			}
		}
	}


	.personalInfoImg {
		display: none;
	}


	.homePageSlider {
		padding: 0 3.625rem 1rem 1rem;
	}

	.homePageSliderBox {
		width: 100%;
		position: relative;
		overflow: hidden;
	}

	.homePageSliderList {
		display: flex;
		flex-wrap: nowrap;
		margin-bottom: 0;

		&__img {
			width: 100%;
			height: 100%;
		}
	}

	.contentBlock {
		&__title {
			display: none;
		}
	}

	.contentBlockPicture {
		display: flex;

		&__darkRectangle {
			flex: 1 1 auto;
			background-color: $secondary;
		}

		&__img {
			width: 188px;
			height: 287px;
		}
	}

	.contentBlockArrow {
		display: flex;
		justify-content: flex-end;
		height: 48px;

		&__link {
			display: inline-flex;
			align-items: center;
			justify-content: flex-end;
			width: 188px;
			background-color: $primary;

			path {
				transition: .3s;
			}

			&:hover .contentBlockArrow__arrow {
				path {
					fill-opacity: 1;
				}
			}
		}

		&__arrow {
			display: inline-block;
			margin-right: 1rem;
		}
	}
}

.slick-dots {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	left: 32px;
	bottom: 45%;

	li {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 0 0.5rem 0;

		&:last-child {
			margin-bottom: 0;
		}

		button {
			display: block;
			width: 8px;
			height: 8px;
			padding: 0;
			border-radius: 50%;
			border: solid 1px $secondary_white;
			background: transparent;
			outline: none;
			line-height: 0;
			font-size: 0;
			color: transparent;
			cursor: pointer;

			&::before {
				content: none;
				width: 0;
				height: 0;
			}
		}
	}

	.slick-active {
		button {
			background-color: $secondary_white;
		}
	}
}


@media screen and (min-width: 560px) {
	.navbar {
		&__rectangle {
			width: 40%;
		}
	}

	.homePageContent {
		.homePageSlider {
			display: flex;
			justify-content: center;
		}

		.homePageSliderBox {
			width: 70%;
		}

		.personalInfo {
			bottom: 54px;
		}

		.contentBlockPicture {
			&__img {
				width: 198px;
				height: 302px;
			}
		}

		.contentBlockArrow {
			height: 64px;

			&__link {
				width: 198px;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.navbar {
		.logo {
			&__svg {
				width: 260px;
				height: 48px;
			}
		}
	}
}