@import "../../common/_reset.scss";
@import "../../common/_variables.scss";
@import "../../common/_mixins.scss";
@import "../../components/navbar/_mobile.scss";
@import "../../vendor/owl.carousel.scss";
@import "../../vendor/animate.scss";

.homePageContent {
	&__container {
		display: flex;
		flex-direction: column;
		position: relative;
	}

	.personalInfo {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		position: absolute;
		bottom: 35px;
		left: 10%;

		&__line {
			margin-bottom: 5rem;
			width: 2px;
			height: 57px;
			background-color: rgba(255, 255, 255, 0.5);
		}

		&__text {
			display: flex;
			align-items: center;
			width: 67px;
			height: 45px;
			font-family: $FiraSansRegular;
			font-size: 1rem;
			line-height: 1.25rem;
			color: $secondary_white;
			transform: rotate(-90deg);
			transform-origin: 15% top 0;
		}
	}

	.personalInfoSocial {
		display: flex;
		flex-direction: column;

		&__link {
			margin-bottom: 1rem;
		}

		circle, path {
			transition: .3s;
		}

		&__img {
			width: 32px;
			height: 32px;

			&:hover circle {
				stroke-opacity: 1;
			}

			&:hover path {
				fill-opacity: 1;
			}
		}
	}


	.personalInfoImg {
		display: none;
	}


	.homePageSlider {
		padding: 0 3.625rem 1rem 1rem;
	}

	.homePageSliderBox {
		width: 100%;
		position: relative;
		overflow: hidden;
	}

	.homePageSliderList {
		display: flex;
		flex-wrap: nowrap;
		position: relative;
		margin-bottom: 0;

		&__img {
			width: 100%;
			height: 100%;
		}
	}

	.owl-dots {
		display: flex;
		flex-direction: column;
		position: absolute;
		bottom: 45%;
		left: 5%;
	}

	.owl-dot {
		padding: 1rem;
		width: 8px;
		height: 8px;
		margin-bottom: 0.5rem;
		border: solid 1px $secondary_white !important;
		border-radius: 50%;
		outline: none;

		&.active {
			background-color: $secondary_white;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.contentBlock {
		&__title {
			display: none;
		}
	}

	.contentBlockPicture {
		display: flex;

		&__darkRectangle {
			flex: 1 1 auto;
			background-color: $secondary;
		}

		&__box {
			&_small {
				display: flex;
			}

			&_big {
				display: none;
			}
		}

		&__img {
			&_vertical {
				width: 188px;
				height: 287px;
			}
		}
	}

	.contentBlockArrow {
		display: flex;
		justify-content: flex-end;
		height: 48px;

		&__link {
			display: inline-flex;
			align-items: center;
			justify-content: flex-end;
			width: 188px;
			background-color: $primary;

			path {
				transition: .3s;
			}

			&:hover .contentBlockArrow__arrow {
				path {
					fill-opacity: 1;
				}
			}
		}

		&__arrow {
			display: inline-block;
			margin-right: 1rem;
		}
	}
}

.owl-carousel.owl-drag .owl-item {
	touch-action: none;
}


@media screen and (min-width: 560px) {
	.navbar {
		&__rectangle {
			width: 40%;
		}
	}

	.homePageContent {
		.homePageSlider {
			display: flex;
			justify-content: center;
		}

		.homePageSliderBox {
			width: 70%;
		}

		.personalInfo {
			left: 4%;
			bottom: 54px;
		}

		.contentBlockPicture {

			&__darkRectangle {
				flex: 0 1 140px;
			}

			&__box {
				&_small {
					display: none;
				}

				&_big {
					display: block;
					flex: 1 1 430px;
				}
			}

			&__img {
				&_horizontal {
					display: block;
					max-width: 100%;
				}
			}
		}

		.contentBlockArrow {
			height: 64px;

			&__link {
				width: 50%;
			}
		}
	}
}

.blurModal {
	display: none;
}

@media screen and (min-width: 768px) {
	.navbar {
		.logo {
			&__svg {
				width: 260px;
				height: 48px;
			}
		}
	}
}