@import "../../common/_variables.scss";
@import "../../common/_mixins.scss";

.navbar {

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: nowrap;
		position: relative;
		padding: 1rem;
		box-sizing: border-box;
	}

	.logo {
		display: flex;

		&__svg {
			display: inline-block;
			width: 174px;
			height: 32px;
		}
	}

	&__rectangle {
		position: absolute;
		top: 0;
		left: 0;
		width: 64%;
		height: 256px;
		background-color: $primary;
		z-index: -1;
	}

	&__content {
		display: flex;
		justify-content: flex-end;
	}

	#navbarBurger {
		display: flex;
		justify-content: flex-end;
		position: relative;
		height: 32px;
		width: 32px;
		cursor: pointer;

		.navbarBurger__line {
			display: block;
			position: absolute;
			right: 0;
			height: 2px;
			width: 25px;
			border-radius: 3px;
			background-color: $primary;
			transform: rotate(0deg);
			transition: .25s ease-in-out;

			&_long {
				width: 32px;
			}

			&:nth-child(1) {
				top: 3px;
				transform-origin: right center;
			}

			&:nth-child(2) {
				top: 14px;
				transform-origin: right center;
			}

			&:nth-child(3) {
				top: 25px;
				transform-origin: right center;
			}
		}

		&.open {
			z-index: 3;

			.navbarBurger__line:nth-child(1) {
				top: 25px;
				right: 6px;
				width: 28px;
				background-color: $secondary;
				transform: rotate(45deg);
			}

			.navbarBurger__line:nth-child(2) {
				width: 0;
				opacity: 0;
			}

			.navbarBurger__line:nth-child(3) {
				top: 5px;
				right: 6px;
				width: 28px;
				background-color: $secondary;
				transform: rotate(-45deg);
			}
		}
	}

	.navbarMenu {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding: 1rem 1rem 2rem;
		box-sizing: border-box;
		background-color: $secondary_white;
		box-shadow: 0 4px 8px 0 rgba(76, 73, 68, 0.15);
		z-index: 2;

		&_open {
			display: block;
		}

		&__btn {
			@include btn_brief;
			margin-bottom: 2rem;
		}

		&__line {
			display: block;
			margin-left: -1rem;
			margin-bottom: 1rem;
			width: 288px;
			height: 1px;
			background-color: $secondary;
			opacity: .5;
		}
	}

	.logoDark {
		display: flex;
		margin-bottom: 3rem;

		&__svg {
			display: inline-block;
			width: 174px;
			height: 32px;
			background-image: url('../../../svg/logo_mob_dark.svg');
		}
	}

	.navbarNav {
		display: flex;
		flex-direction: column;
		font-family: $FiraSansRegular;

		&__item {
			margin-bottom: 2rem;
		}

		&__link {
			font-size: 1.25rem;
			color: $secondary;

			&_active {
				color: $primary;

				.navbarNav__arrow {
					path {
						fill: $primary;
					}
				}
			}
		}

		&__arrow {
			display: none;
		}
	}

	.navbarNavSubMenu {
		margin-top: 1rem;
		padding-left: 1rem;

		&__item {
			margin-bottom: 1rem;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&__link {
			font-size: 1rem;
			color: $secondary;
			transition: .3s;

			&:hover {
				color: $primary;
			}
		}
	}

	.navbarLanguage {
		display: flex;

		&__item {
			margin-right: 2rem;

			&:last-child {
				margin-right: 0;
			}
		}

		&__link {
			position: relative;
			font-family: $FiraMonoRegular;
			font-size: 1.25rem;
			color: $secondary;
			opacity: .2;

			&_active {
				opacity: 1;

				&::after {
					position: absolute;
					bottom: -.25rem;
					left: 0;
					width: 100%;
					height: 1px;
					background-color: $secondary;
					content: "";
					visibility: visible;
				}
			}
		}

		&__arrow {
			display: none;
		}
	}

	.navbarLanguageDesktop {
		display: none;
	}
}

