@import "../../common/_variables.scss";
@import "../../common/_mixins.scss";

.brief {
	&__crossBlock {
		padding: 1rem 6.75rem 1rem;
	}

	&__title {
		font-size: 3rem;
	}

	&__circle {
		display: block;
		position: absolute;

		&_left {
			left: -272px;
			top: 51%;
		}

		&_right {
			right: -272px;
			top: 18%;
		}
	}
}

.briefSent {
	&__container {
		min-height: 930px;
	}
}

@media (min-width: 1440px) {
	.briefSent {
		&__container {
			background-size: cover;
		}

		&__text {
			width: 500px;
			font-size: 1.5rem;
		}

		&__btn {
			padding: 20px 32px;
			font-size: 20px;
		}
	}
}



