@import "../../common/_reset.scss";
@import "../../common/_variables.scss";
@import "../../common/_mixins.scss";

.brief {
	&__crossBlock {
		padding: 1rem;
		text-align: right;
	}

	&__crossButton {
		background-color: transparent;
		border: none;
		padding: 0;
		cursor: pointer;

		&__cross {
			transition: .3s;
		}

		&:hover .brief__cross {
			path {
				fill: $primary;
			}
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 1rem 2rem;
	}

	&__circle {
		display: none;
	}

	&__title {
		margin-bottom: 2rem;
		font-family: $FiraSansMedium;
		font-size: 1.5rem;
		letter-spacing: 0.2px;
		color: $secondary;
	}

	.briefForm {
		&__block {
			display: flex;
			flex-direction: column;
			margin-bottom: 1rem;
			height: 97px;
		}

		&__label {
			margin-bottom: 0.5rem;
			font-family: $FiraSansRegular;
			font-size: 0.875rem;
			color: $secondary;
		}

		&__input {
			font-family: $FiraSansRegular;
			font-size: 1rem;
			padding: 0.75rem 1rem;
			border-radius: 4px;
			border: solid 1px rgba(167, 156, 133, 0.2);
			box-sizing: border-box;
			width: 288px;
			height: 40px;
			background-color: $secondary_white;
			color: $secondary;
			outline: none;

			&:hover {
				border: solid 1px rgba(167, 156, 133, 0.5);
			}

			&:focus {
				border: solid 1px rgba(76, 73, 68, 0.5);
			}

			&::placeholder {
				font-family: $FiraSansRegular;
				font-size: 0.875rem;
				color: $secondary;
				opacity: .5;
			}
		}

		&__btn {
			width: 115px;
			height: 40px;
			padding: 0;
			border: none;
			border-radius: 4px;
			background-color: $primary;
			color: $secondary_white;
			font-family: $FiraSansRegular;
			font-size: 1rem;
			letter-spacing: 0.2px;
			transition: .3s;
			cursor: pointer;

			&:hover {
				background-color: $primary_dark;
			}
		}
	}

	.errorMessage {
		display: inline-block;
		font-family: $FiraSansRegular;
		margin-top: 0.5rem;
		font-size: 0.75rem;
		color: #ff0000;
	}

	.errorBorder {
		border: solid 1px #ff0000;
	}

	.briefFormFieldset {
		margin-bottom: 2rem;

		&__title {
			margin-bottom: 1rem;
			font-family: $FiraSansRegular;
			font-size: 0.875rem;
			color: $secondary;
		}

		&__container {
			display: flex;
			flex-direction: column;

			&_flex {
				display: flex;
				flex-direction: column;
				margin-bottom: 1rem;

				&:last-child {
					margin-bottom: 0;
				}
			}

			&_radio {
				display: flex;
				flex-direction: row;
			}
		}

		&__block {
			display: flex;
			align-items: baseline;
			margin-bottom: 1rem;

			&:last-child {
				margin-bottom: 0;
			}

			&_flex {
				margin-bottom: 1rem;

				&:last-child {
					margin-bottom: 0;
				}
			}

			&_radio {
				margin-bottom: 0;
				margin-right: 1rem;

				&:last-child {
					margin-right: 0;
				}
			}
		}

		&__checkbox {
			position: absolute;
			opacity: 0;
			cursor: pointer;

			& + label:before {
				content: '';
				margin-right: 0.5rem;
				display: inline-flex;
				width: 16px;
				height: 16px;
				border-radius: 2px;
				border: solid 1px #c4c4c4;
			}

			&:checked + label:before,
			&:hover + label:before {
				border: solid 1px $secondary;
			}

			&:checked + label,
			&:hover + label {
				color: $secondary;
			}

			&:checked + label:after {
				content: '';
				position: absolute;
				left: 5px;
				top: 3px;
				width: 6px;
				height: 9px;
				border: solid $secondary;
				border-width: 0 2px 2px 0;
				transform: rotate(45deg);
				color: $secondary;
			}
		}

		&__radio {
			position: absolute;
			opacity: 0;
			cursor: pointer;

			& + label:before {
				content: '';
				margin-right: 0.5rem;
				display: inline-flex;
				width: 14px;
				height: 14px;
				border-radius: 50%;
				border: solid 1px #c4c4c4;
			}

			&:checked + label:before,
			&:hover + label:before {
				border: solid 1px $secondary;
			}

			&:checked + label,
			&:hover + label {
				color: $secondary;
			}

			&:checked + label:after {
				content: '';
				position: absolute;
				left: 4px;
				top: 7px;
				width: 8px;
				height: 8px;
				border-radius: 50%;
				background-color: $secondary;
			}
		}

		&__label {
			display: flex;
			align-items: center;
			position: relative;
			cursor: pointer;
			color: #c4c4c4;
			font-family: $FiraSansRegular;
			font-size: 0.875rem;
		}
	}
}

.briefSent {
	display: none;

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	&__envelope {
		margin-bottom: 1.5rem;
	}

	&__title {
		font-family: $FiraSansRegular;
		font-size: 1.5rem;
		color: $primary;
		margin-bottom: 0.5rem;
	}

	&__text {
		margin-bottom: 1.5rem;
		width: 233px;
		font-family: $FiraSansRegular;
		font-size: 1rem;
		color: $secondary;
	}

	&__btn {
		@include btn_switchToHomePage;
		margin-bottom: 2rem;
	}
}

