@import "../../common/_reset.scss";
@import "../../common/_variables.scss";
@import "../../common/_mixins.scss";
@import "../../components/navbar/_mobile.scss";

body {
	background-color: #f1f1f1;
}

.navbar {
	.logo {
		&__svg {
			fill: $secondary;
		}
	}

	&__rectangle {
		display: none;
	}

	#navbarBurger {
		.navbarBurger__line {
			background-color: $secondary;
		}
	}
}

.error {
	padding: 1rem 0 2rem;

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	&__text {
		margin-bottom: 1rem;
		width: 233px;
		font-family: $FiraSansRegular;
		font-size: 1rem;
		color: $secondary;
	}

	&__btn {
		@include btn_switchToHomePage;
		margin-bottom: 2rem;
	}
}
