@import "../../common/_variables.scss";
@import "../../common/_mixins.scss";
@import "../../components/navbar/_tablet.scss";

.navbar {
	.navbarMenu {
		&__btn {
			background-color: #f1f1f1;
		}
	}
}

.error {
	padding: 2.5rem 0 2rem;

	&__container {
		position: relative;
		background-image: url("../../../svg/404_tablet.svg");
		min-height: 660px;
		background-position: top, center;
		background-repeat: no-repeat;
	}

	&__content {
		position: relative;
		top: 200px;
	}

	&__text {
		width: 332px;
	}

	&__btn {
		margin-bottom: 0;
	}

	&__camera {
		display: none;
	}
}
