@import "../../common/_variables.scss";
@import "../../common/_mixins.scss";
@import "../../components/navbar/_tablet.scss";

.navbar {
	.navbarMenu {
		&__btn {
			background-color: #f1f1f1;
		}
	}
}

.error {
	&__container {
		padding: 2.5rem 0 2rem;
	}

	&__box {
		position: relative;
		background-image: url("../../../svg/404_tablet.svg");
		background-position: top, center;
		background-repeat: no-repeat;
		height: calc(100vh - 70px);
	}

	&__content {
		position: relative;
		top: 196px;
	}

	&__text {
		width: 332px;
	}

	&__camera {
		display: none;
	}
}


